 body{
    text-align: center;
 }
 html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 70%;
    height: 50%;
    margin-top: 50px; 
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.counter{
    margin-top: 50px;
}
.counter input{
    height: 60px;margin-top: 50px;
    width: 80%;
    border-radius: 10px;
    border: 10px solid;
}



.tabs-jquery{
    margin-top: 300px;
}

